{% load databases %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>CDR</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <script src="{{ MEDIA_URL }}js/jquery-1.6.2.min.js"></script>
    <script src="{{ MEDIA_URL }}js/jquery-ui-1.8.16.custom.min.js"></script>
    <link href="{{ MEDIA_URL }}css/bootstrap.css" rel="stylesheet">
    <link href="{{ MEDIA_URL }}css/jquery-ui-1.8.16.custom.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
      }
    </style>

  </head>

  <body>

    <div class="topbar">
      <div class="topbar-inner">
        <div class="container-fluid">
          <a class="brand" href="#">CDR Master. Connected to <strong>{{ DB }}</strong></a>
          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
          <p class="pull-right">Logged in as <a href="#">username</a></p>
        </div>
      </div>
    </div>

    <div class="container-fluid">

        {% block sidebar %}
        <div class="sidebar">
        <div class="well">
          <h5>Menu</h5>
          <ul>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
          </ul>


            {% databases %}


            

        </div>
      </div>
        {% endblock %}


      <div class="content">

          {% block content %}
          {% endblock %}

        <footer>
          <p>&copy; Company 2011</p>
        </footer>
      </div>
    </div>

  </body>
</html>