{% extends "base.html" %}
{% load sorting_tags %}

{% block extra_js %}
    <script type="text/javascript">
        $(document).ready(function(){
            $("#id_calldate_from").datepicker({ maxDate: 0, dateFormat:"dd/mm/yy" });
            $("#id_calldate_to").datepicker({ maxDate: 0, dateFormat:"dd/mm/yy" });
        });
    </script>
{% endblock %}

{% block content %}

        <div class="hero-unit">
          <form action=".">
              {% csrf_token %}
              <fieldset>
                  <legend>Filtros</legend>

                  <div class="clearfix">
                      {{ form.calldate_from.label_tag }}
                      <div class="input">
                          {{ form.calldate_from }}
                      </div>
                  </div>

                  <div class="clearfix">
                      {{ form.calldate_to.label_tag }}
                      <div class="input">
                          {{ form.calldate_to }}
                      </div>
                  </div>

              </fieldset>

              <div class="actions">
                  <input type="submit" value="Filtrar" class="btn primary large">
              </div>

          </form>
        </div>

        <!-- Example row of columns -->
        <div class="row" style="margin-left: 0px;">
        

            {% if registros %}
            <table class="zebra-striped">

                    <thead>
                        <tr>
                            <th>CallDate</th>
                            <th>duration</th>
                            <th>tiempo_facturado</th>
                            <th>{% anchor disposition Disposition %}</th>
                            <th>channel</th>
                            <th>dstchannel</th>
                            <th>dst</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% autosort registros %}
                        {% for r in registros %}
                        <tr>
                            <td>{{ r.calldate }}</td>
                            <td>{{ r.duration }}</td>
                            <td>{{ r.tiempo_facturado }}</td>
                            <td>{{ r.disposition }}</td>
                            <td>{{ r.channel }}</td>
                            <td>{{ r.dstchannel }}</td>
                            <td>{{ r.dst }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>

            </table>
        {% else %}
                <h2>Nada que mostrar con ese criterio</h2>
        {% endif %}

        </div>







{% endblock %}