{% extends "base.html" %}


{% block content %}

    <div class="hero-unit">
          <p>Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
          <p><a class="btn primary large">Learn more &raquo;</a></p>
        </div>

        <!-- Example row of columns -->
        <div class="row">

        </div>

        {% for r in registros %}
            <div>{{ r }}</div>
        {% endfor %}



{% endblock %}